if [ `whoami` == "root" ]; then
   [ -f "/usr/bin/ash.boot" ] && source /usr/bin/ash.boot
fi

if [ `whoami` == "bigred" ]; then
   gw=$(route -n | grep -e "^0.0.0.0 ")
   export GWIF=${gw##* }
   ips=$(ifconfig $GWIF | grep 'inet ')
   export IP=$(echo $ips | cut -d' ' -f2 | cut -d':' -f2)
   export NETID=${IP%.*}
   export GW=$(route -n | grep -e '^0.0.0.0' | tr -s \ - | cut -d ' ' -f2)
   [ -f "/usr/bin/ash.start" ] && source /usr/bin/ash.start
fi
